body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header{
  top: 0;
  height: 69px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
}

.imglogo{
  display: flex;
  height: 50px;
  margin-left: 10px;
  margin-top: 9.5px;
}

.navtext{
  display: inline-flex;
  margin-right: 20px;
  color: seashell;
  text-decoration: underline;
}

#mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: auto auto;
  top: 62px;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px
}

.missiontext{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  opacity: 0.9;
}

.missionsub{
  display: flex;
  margin: 12px;
}

#teaofthemonth{
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto auto;
  position: relative;
  top: 100px;
  margin-top: 20px;
}

.textmonth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.monthsub{
  display: flex;
  margin: 12px;
}

.imagesmonth{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px
}

.month{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  font-weight: bold;
}

.monthimg{
  margin-bottom: 10px;
}

.monthtxt{
  margin-top: 0px;
}

#locations{
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  position: relative;
  top: 200px;
}

.locatopic{
  display: flex;
}

.threelocations{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.location{
  display: flex;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
}

.locatext{
  display: flex;
}

.footer{
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: auto auto;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: 200px;
}

.foottext{
  display: flex;
}

#copy{
  text-align: left;
  margin-left: 20px;
  font-family: Helvetica;
  font-size: 20px;
  color: seashell;
  position: relative;
  margin-top: 100px;
  margin-bottom: 30px;
  top: 110px;
}
